#header-img {
    padding: 0px;
    margin: 0px auto;
    display: flex;
    flex-flow: column;
    
  }
  
  nav {
    background-color: rgb(10, 43, 235, 0.815);  
    padding:15px;
  }

  ul {

    display: inline;

    font-family: Arial, Helvetica, sans-serif;
  

}


  #button li {
    display:inline;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    border:0px solid  rgba(9, 219, 226, 0.507);
    margin:46px;
    background-color:rgba(255, 251, 0, 0.979); 




}
  
  
  
  a:link {
    font-size:20px;
    color:rgb(255, 255, 255);
    text-decoration:none;
  }
  
  section {

    background-image: url('https://thumbs.gfycat.com/AlarmedUnimportantGopher-size_restricted.gif');
    background-repeat: no-repeat;
}





  h1 {
    
    color: rgb(9, 175, 31);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 55px;
  }
  
  h2 {
    
    color: rgb(245, 8, 8);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 55px;  
}


.lab1{
    
    background-color: rgba(20, 218, 30, 0.842);
    margin-bottom: 0px;
}


  .lab2{
    
    color: rgba(238, 241, 8, 0.993);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
    
  }
  h4 {color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;}

  .proS1{

    background-color: rgb(255, 136, 0);
    margin-top: 0px;
    padding-top: 0px;
  }


  h5 {color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;}


  h6 {color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        font-size: 25px;
        margin-bottom: 0px;
    }

    .rNumUno {
        margin-bottom: 0px;
        padding-top: 0px;
    }
    p
    {
      margin-top: 0px;
      text-align: justify;
      color: rgb(255, 255, 255);
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      margin-bottom: 0px;
    }
  
    footer
  {
  text-align: center
  }
  
  
































/*Este fichero se ha creado para darle un diseño al html*/
